body {
    background-color: #d5e1ef;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.panel {
    width: 320px;
    height: 500px;
    background-color: white;
    border-radius: 20px;
    Display: flex;
    align-items: center;
    flex-direction: column;
}

.qrcode {
    width: 290px;
    height: 290px;
    border-radius: 20px;
    object-fit: contain;
    margin-top: 15px;
}

img {
    width: inherit;
    border-radius: inherit;
    position: inherit;
}

.upper {
    font-family: 'Outfit', sans-serif;
    text-align: center;
    font-size: 23px;
    color: #142134;
    font-weight: bold;
    margin-top: 25px;
}

.lower {
    font-family: 'Outfit', sans-serif;
    text-align: center;
    font-size: 15px;
    color: #9b9faa;
    font-weight: lighter;
    margin-top: 15px;
}